.NotificationsSheet-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: calc(320px + 30px);
  background-color: transparent;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: grid;
  z-index: 10000;
}

.NotificationsSheet-innerContent {
  height: 100%;
  min-height: 0;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  overflow: hidden;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.dark .NotificationsSheet-innerContent {
  background-color: #0a0a0a;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
}
